.slide-detail .mySwiper img{
    width: 60%;
}

.slide-detail .mySwiper2 img{
    width: 100%;
    object-fit: cover;

}

.slide-detail .mySwiper2 .swiper-slide{
    text-align: center;
    opacity: 0 !important;
}


.slide-detail .mySwiper2{
    /* background-color: #f5f6f8; */
    background-color: #ffffff;
    border-radius: 10px;
}

.slide-detail .mySwiper2 .swiper-slide-active{
    opacity: 1 !important;
}

.slide-detail .mySwiper{
    margin-top: 30px;
}

.slide-detail .mySwiper .swiper-slide{
    /* background-color: #f5f6f8; */
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
   
}

.slide-detail .mySwiper .swiper-slide-thumb-active{
    border: 1px solid #ccc;
}

