/* .upload-avatar{
  width: 100% !important;
  height: 100% !important;
} */

.upload-avatar .avatar-uploader {
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.02);
  border: 1px dashed #d9d9d9;
  transition: 0.5s;
  border-radius: 5px;
}

.upload-avatar .avatar-uploader:hover{
  border-color: #0989FF;
}

.upload-avatar .avatar-uploader .ant-upload-select {
  width: 100% !important;
  height: 100% !important;
  background-color: transparent !important;
  border: none !important;
  margin-bottom: 0px !important;
}



.upload-avatar .avatar-uploader img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-avatar .list-img{
  display: flex;
  flex-wrap: wrap;
}

.upload-avatar .list-item{
  width: 100px;
  margin: 8px;
  border-radius: 5px;
  position: relative;

}

.upload-avatar .list-item .action{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.518);
  z-index: 99;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.upload-avatar .list-item:hover .action{
 opacity: 1;
}

.upload-avatar .list-item .action i{
  margin: 0px 5px;
  font-size: 18px;
  transition: 0.3s;
}

.upload-avatar .list-item .action i:hover{
  color: #ffffff;
}

.upload-avatar .list-item img{
  width: 100%;
  border-radius: 5px;
}