#profile .profile-address .title svg{
    width: 45px;
    height: 45px;
    object-fit: cover;
    fill: #0989ff;
}

#profile .profile-address .title {
    display: flex;
    align-items: center;

}

#profile .profile-address .title h4{
    margin: 0;
}

#profile .profile-address .content .vtrWey{
    height: 3px;
    width: 100%;
    background-position-x: -30px;
    background-size: 116px 3px;
    background-image: repeating-linear-gradient(45deg,#6fa6d6,#6fa6d6 33px,transparent 0,transparent 41px,#f18d9b 0,#f18d9b 74px,transparent 0,transparent 82px);
}

#profile .profile-address .content .title{
    color: #0989ff;
}

