.order-page{

}

.order-page .results{
    font-size: 14px;

}

.order-page .filter .filter-box{
    border: 1px dashed rgba(145, 158, 171, 0.16);
    padding: 8px;
    color: #000;
    
}

.order-page .container-table-order{
    overflow-x: auto;
    overflow-y: hidden;
}

.order-page .filter .filter-box .value{
    background-color: #000;
    color: #fff;
    padding: 2px;
    border-radius: 5px;
    font-size: 0.9em;
}

.order-page .filter .clear-filter{
    cursor: pointer;
    font-weight: 500;
    color: rgb(255, 86, 48);
}


/* table */

.list-action-category .action{
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.list-action-category .view i{
    color: rgb(34, 197, 94);
}

.list-action-category .view:hover{
    background-color: rgb(34, 197, 94);
    color: #ffffff;
}
.list-action-category .view:hover > i{
    color: #ffffff;
}
.list-action-category .edit i{
    color: rgb(255, 171, 0);
}

.list-action-category .edit:hover{
    background-color: rgb(255, 171, 0);
    color: #ffffff;
}
.list-action-category .edit:hover > i{
    color: #ffffff;
}

.list-action-category .delete i{
    color: rgb(255 86 48);
}

.list-action-category .delete:hover{
    background-color: rgb(255 86 48);
    color: #ffffff;
}

.list-action-category .delete:hover > i{
    color: #ffffff;
}


.order-page .container-table-product{
    overflow: auto;
    
}

.order-page .table-product .img img{
    width: 64px;
    border-radius: 5px;
}

.order-page .table-product table th{
    color: rgb(99, 115, 129);
    font-weight: 450;
}

.order-page .table-product table td{
    color: rgb(99, 115, 129);
    font-size: 14px;
}

.order-page .table-product table .name{
    font-weight: 500;
    color: #000;
}

.order-page .table-product table .category{
    font-size: 13px;
}

.order-page .table-product .progress-bg-success{
    background-color: rgb(34 197 94 / 24%);
}
.order-page .table-product .progress-success{
    background-color: rgb(34, 197, 94);
}

.order-page .table-product .progress-bg-warning{
    background-color: rgb(255 171 0 / 24%);
    
}
.order-page .table-product .progress-warning{
    background-color: rgb(255, 171, 0);
}

.order-page .table-product .progress-bg-error{
    background-color: rgb(255 86 48 / 24%);
}

.order-page .table-product .progress-error{
    background-color: rgb(255 86 48);
}

.order-page .table-product .progress-bg{
    width: 80px;
    height: 6px;
    border-radius: 5px;
}

.order-page .table-product .progress-status{
    border-radius: 5px;
    height: 6px;
}

.order-page .table-product .stock{
    font-size: 13px;
}

.order-page .table-product .hidden{
    display: inline-block;
    background-color: rgb(145 158 171 / 16%);
    color: rgb(99, 115, 129);
    padding: 2px 10px;
    border-radius: 5px;
}

.order-page .table-product .publiced{
    display: inline-block;
    background-color: rgb(0 184 217 / 16%);
    color: rgb(0, 108, 156);
    padding: 2px 10px;
    border-radius: 5px;
}
.order-page .tab-title{
    font-size: 16px;
    font-weight: 500 !important;
}
.order-page .tab-title span{
    font-size: 12px;
    padding: 4px 6px;
    font-weight: 700;
    border-radius: 8px;
    
}
.order-page .tab-all span{
    background-color: #000;
    color: #ffffff;

}
.order-page .tab-pedding span{
    background-color: rgba(255, 171, 0, 0.16);
    color: rgb(183, 110, 0);

}
.order-page .tab-shiping span{
    background-color: rgb(34 197 94 / 16%);
    color: rgb(17, 141, 87);

}
.order-page .tab-shipped span{
    background-color: rgb(145 158 171 / 16%);
    color: rgb(99, 115, 129);

}
.order-page .tab-canceled span{
    background-color: rgb(255 86 48 / 16%);
    color: rgb(183, 29, 24);

}
