
.header .box-search{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.header{
    /* font-family: 'Jost', sans-serif; */
}



.header .header-common .logo img{
    width: 90%;
}

.header .header-common .btn-search-icon i{
    font-size: 1.1em;
}
.header  .box-search input:focus{
    outline: none;
}

.header .header-common .input-search-2{
    
    width: 106%;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #55585bab;
    height: 100vh;
    
}

.header .header-common .input-search-2 .box-search-2{
    min-height: 50px;
}

.header .header-common .input-search-2 i{
    color: #fff;
    
}

.hidden{
    display: none;
}
.visible{
    display: block;
}

.header .header-common .box-search{
    border:none;
}

.header .header-common .box-search form{
    border: 1px solid #010f1c1a;
    min-height: 45px;
}

.header .header-common .box-search .btn-search{
    min-height: 45px;
    /* background-color: #0989ff; */
    background-color: transparent;

    color: #55585B;
}

.header .header-common .box-search .btn-search i{
    font-size: 1.2em;
}

.header .header-top{
    min-height: 50px;
    /* background-color: gray; */
}

.header .shofy-container{
    /* height: 100%; */
    min-height: 50px;
}

.shofy-h-50{
    min-height: 50px;
}
.shofy-h-66{
    min-height: 66px;
}
.header .user-name .hello{
    font-size: 12px;
}

.header .header-profile svg{
    width: 17;
    height: 21px;
}

.header .header-profile .img{
    width: 44px;
    height: 44px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.header .Wishlist svg{
    width: 22px;
    height: 20px;
}

.header .cart svg{
    width: 22px;
    height: 20px;
}

.header .Wishlist a{
    color: #000;
}

.header .cart button{
    border: none;
    background-color: transparent;
}
.header .Wishlist {
    position: relative;
}

.header .Wishlist .badge{
    position: absolute;
    top: -15px;
    right: -14px;
}

.header .cart{
    position: relative;
}

.header .cart .badge{
    position: absolute;
    top: -15px;
    right: -11px;
}

.header .user-action .badge span {
    color: #fff;
    width: 19px;
    height: 19px;
    background-color: #fd4b6b;
    border-radius: 50%;
    
    
     display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

/* .header .user-action .badge span{
    line-height: 23px;
} */

.header .menu button{
    border: none;
    background-color: transparent;
    
}

.header .shofy-header-bottom{
    border-top: 1px solid rgba(1,15,28,.1);
}

.header .shofy-header-bottom .items-1 button{
    background-color: #0989ff;
    color: #fff;
    /* justify-content: space-between; */
}

.header a{
    text-decoration: none;
    color: #000;
}

.header .shofy-header-bottom .dropdown-toggle::after {
    display: none;
  }

  .header .shofy-header-bottom .menu-dropdown{
    width: 93%;
  }

.header .shofy-header-bottom .menu-dropdown li:hover a{
    color: #0989ff;
}

.header .shofy-header-bottom .menu-dropdown img{
    width: 50px;
    height: 50px;
    object-fit: contain;
    /* justify-content: space-between; */
}

.header .shofy-header-bottom .menu-dropdown li a{
    border-bottom: 1px solid #cccccc4c;
}


.header .shofy-header-bottom .menu-dropdown li{
    position: relative;
}

.header .shofy-header-bottom .menu-dropdown li .list-group {
    min-width: 306px;
    position: absolute;
    top: 0;
    left: 150%; /* Bắt đầu ẩn bên phải ngoài màn hình */
    width: auto; /* Đặt lại chiều rộng tự động */
    visibility: hidden;
    opacity: 0;
    transition: left 0.5s, visibility 0s 0.5s, opacity 0.5s;
  }
  
  .header .shofy-header-bottom .menu-dropdown li:hover .list-group {
    left: 101%; /* Hiện menu con bằng cách dịch từ bên phải vào */
    visibility: visible;
    opacity: 1;
    transition: left 0.5s, visibility 0s, opacity 0.5s;
  }


.header .list-nav a:hover{
    color: #0989ff;
    transition: 0.3s;
}

/* .header .list-nav  .nav-parent{
    position: relative;
} */

.header .shofy-header-bottom .list-nav .nav-chil{
    position: absolute;
    z-index: 999;
    background-color: gray;
    left: 0;
    right: 0;
    top: 157px;
    background-color: #ffffff;
    box-shadow: 0 20px 30px #010f1c1a;
    color: #000;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    transition-duration: .1s;
    transform-origin: top;
    transform: perspective(300px) rotateX(-18deg);

    /* width: 84dvi;
    left: -723%; */
}

.header .list-nav .nav-chil .List-items{
    font-weight: 300;
}

.header .list-nav a:hover .nav-chil{
    visibility: visible;
    opacity: 1;
    transition-duration: .2s;
    transform: perspective(300px) rotateX(0);
}

.header .shofy-hotline svg{
    width: 18px;
    color: #0989ff;
}

.header .shofy-hotline .title{
    font-size: 12px;
}

.header .shofy-hotline .value{
    font-size: 14px;
    font-weight: 500;
}

.header .header-sticky{
    box-shadow: 0 4px 10px #03041c1a;
}

.header .header-common  .list-nav .nav-chil{
    /* position: absolute; */
    position: fixed;
    z-index: 999;
    background-color: gray;
    left: 0;
    right: 0;
    top:68px;
    background-color: #ffffff;
    box-shadow: 0 20px 30px #010f1c1a;
    color: #000;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    transition-duration: .1s;
    transform-origin: top;
    transform: perspective(300px) rotateX(-18deg);

    /* width: 84dvi;
    left: -723%; */
}

/* Ban đầu, ẩn phần tử */
.header .header-common {
    position: fixed;
    z-index: 999;
    /* visibility: hidden; */
    /* opacity: 0; */
    top: -48px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 10px #03041c1a;
}


